body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  color: #333;
  text-align: center;
  margin: 50px;
  padding: 10px;
}

form {
  background-color: #4682b4;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: black;
  margin: 10px;
}

form input[type="text"],
form input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

form input[type="radio"] {
  margin-right: 5px;
}

form button[type="submit"],
form button[type="reset"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

form button[type="reset"] {
  background-color: #f44336;
}

form button[type="submit"]:hover,
form button[type="reset"]:hover {
  background-color: #3e8e41;
}

form button[type="submit"]:focus,
form button[type="reset"]:focus {
  outline: none;
}

form .error {
  color: #f44336;
  margin-bottom: 10px;
}

ul li {
  margin: 20px;
}

img {
  float: left;
  margin-right: 25px;
}
